* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.customSlider * {
  box-sizing: border-box;
}

.customSlider {
  width: 300px;
  outline: 1px solid #000;
  /* overflow: hidden; */
  margin: 50px auto;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.customSlideContainer:after {
  content: '';
  display: block;
  clear: both;
}

.customSlideContainer>div.swipeSlide {
  float: left;
  border: 1px solid #f00;
  height: 300px;
  line-height: 300px;
  text-align: center;
}

.customSlideContainer>div.swipeSlide::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.customSlideContainer>div.swipeSlide::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.dotOption {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 5px;
  font-size: 0;
}

.dotOption>.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  margin: 0 3px;
}

.dotOption>.dot.active {
  background-color: #f00;
}

.controlNav {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.controlNav:before,
.controlNav:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
  height: 3px;
  background-color: #fff;
}

.controlNav:before {
  transform: rotate(-45deg);
  top: -5px;
}

.controlNav:after {
  transform: rotate(45deg);
  top: 5px;
}


.controlNav.prev {
  left: 5px;
}

.controlNav.next {
  right: 5px;
  transform: rotate(180deg);
}